.modal-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 9999;
}

.modal-box {
  background: #fff;
  padding: 25px;
  width: 100%;
  max-width: 500px;
  border-radius: 12px;
  position: relative;
  box-shadow: 0 4px 25px rgba(0, 0, 0, 0.2);
}

.close-btn {
  position: absolute;
  top: 12px;
  right: 12px;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;
}

h2 {
  margin-bottom: 15px;
  text-align: center;
}

.form-grid {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.field {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 6px;
}

.field:last-child {
  width: min-content;
}

.field-row {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.field label {
  font-weight: 600;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

textarea {
  resize: none;
  min-height: 70px;
}

.destino-row {
  display: flex;
  gap: 10px;
}

.map-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  border: none;
  border-radius: 6px;
  font-size: 22px;
  cursor: pointer;
  color: var(--greenBack2);
}

.map-btn:hover {
  background: var(--greenBack2);
  color: var(--white);
}

.btn-submit {
  margin-top: 10px;
  padding: 12px;
  font-size: 1.1rem;
  font-weight: bold;
  background: #1abc9c;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.btn-submit:hover {
  background: #17a589;
}

input[type="date"] {
  width: min-content;
  color: red;
}
input[type="date"]::-webkit-datetime-edit {
  display: none;
  border: none;
  outline: none;
}
.text-area {
  border: none;
  background-color: var(--shadow);
}
