@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --green: #60efb8;
  --greenBack: #145a32;
  --greenBack2: #1abc9c;
  --white: #ffffff;
  --shadow: #f5f5f5;
  --shadow2: #cfcfcf;
  --text: #4e4e4e;
  --fontSizeLarge: calc(1.5rem + 0.5vw);
  --fontSizeMedium: calc(1.2rem + 0.3vw);
  --fontSizeSmall: calc(1rem + 0.2vw);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: var(--fontSizeSmall);
  background-color: var(--white);
  color: var(--text-dark);
}

button {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  font-size: var(--fontSizeSmall);
  border: unset;
  cursor: pointer;
}

.app {
  width: min(100vw, 1300px);
}

select {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background: white;
  cursor: pointer;
}

select:focus {
  outline: 2px solid var(--greenBack2);
}
