.header {
  margin-top: 2%;
  top: 0%;
  left: 2%;
  position: sticky;
  display: flex;
  width: min(100vw, 1300px);
  z-index: 100;
  overflow: hidden;
}

.container-header {
  display: flex;
  width: 100%;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 0 2%;
  background: radial-gradient(
    circle at 0% 50%,
    var(--greenBack2),
    var(--greenBack) 100%
  );
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white);
  width: min-auto;
  font-weight: bold;
  text-decoration: none;
  font-size: var(--fontSizeMedium);
  line-height: var(--fontSizeMedium);
}

.container-header div {
  padding: 5px;
}

nav {
  display: flex;
  gap: 3vw;
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
}

nav div {
  cursor: pointer;
}
