.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--white);
}

.hero {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5vh;
  box-sizing: content-box;
}

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;
  width: min(100vw, 1300px);
  margin: 0 2%;
  max-height: 500px;
  box-sizing: border-box;
  background: radial-gradient(
    circle at 80% 80%,
    var(--greenBack2),
    var(--greenBack) 50%
  );
  border-radius: 10px;
}

.hero-container .shape {
  width: 100%;
  position: absolute;
  z-index: -1;
}

.hero-container .derecha {
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-container .izquierda img {
  width: 90%;
  margin-top: 40%;
}

.hero h1 {
  color: var(--green);
  text-align: left;
  font-size: var(--fontSizeLarge);
  font-weight: 500;
  margin-bottom: 10px;
}

.hero p {
  font-size: var(--fontSizeMedium);
  text-align: left;
  font-weight: 400;
  color: var(--white);
  max-width: 500px;
  margin: 0 auto 25px;
}

.btn {
  padding: var(--fontSizeSmall) var(--fontSizeMedium);
  color: var(--greenBack);
  background: var(--green);
  font-size: var(--fontSizeSmall);
  font-weight: 600;
  width: max-content;
  border-radius: 10px;
}

.section {
  padding: 60px 30px;
  text-align: center;
}

.section h2 {
  color: var(--green);
  margin-bottom: 20px;
}

.section ul {
  list-style: none;
  padding: 0;
}

.section ul li {
  margin-bottom: 10px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.card {
  padding: 20px;
  border: 2px solid var(--green);
  border-radius: 10px;
  width: 150px;
  background: white;
  font-weight: bold;
  color: var(--green);
}

@media (max-width: 768px) {
  .hero-container {
    flex-direction: column;
    height: auto;
    padding: 20px;
  }

  .hero-container .izquierda img {
    width: 100%;
    margin-top: 0;
    transform: translateY(10vh);
  }

  .hero h1 {
    font-size: var(--fontSizeMedium);
  }

  .hero p {
    font-size: var(--fontSizeSmall);
  }

  .cards {
    flex-direction: column;
    align-items: center;
  }
}
